<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level: %msg%n"/>
        </Console>
        <Kafka name="Kafka" topic="${env:KAFKA_LOGS_TOPIC:-logs-topic}">
            <JsonLayout compact="true" eventEol="true"/>
            <Property name="bootstrap.servers">${env:KAFKA_HOST:-bank-kafka}:${env:KAFKA_PORT:-9092}</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>
        <Logger name="org.apache.kafka" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.kafka.clients" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.kafka.common" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>